@{
    Layout = "_Layout";
}
<div class="container pr-1">
    <div class="row no-gutters">
        <aside class=" col-4 d-md-flex align-items-stretch mt-5">
            <partial name="_PanelMenu" />
        </aside>
        <main class="col-8">
            <div class="p-4">

                <h5 class="panel-action-title">میز کار</h5>
                <p>از منو های سمت راست جهت ارسال پست و اعمال تغییرات استفاده نمایید</p>
               
            </div>
        </main>
    </div>
</div>