@{
    Layout = "_Layout";
}
<div class="container pr-1">
    <div class="row no-gutters">
        <aside class=" col-4 d-md-flex align-items-stretch mt-5">
            <partial name="_PanelMenu" />
        </aside>
        <main class="col-8">
            <div class="p-4">
                <h5 class="panel-action-title">میز کار</h5>
                <p>جهت شرکت در بازارچه درج آدرس اینستاگرام ضروری می باشد</p>
                <a href="/membership/panel/UserSettings">جهت تعریف آدرس اینستاگرام خود کلیک کنید</a>
            </div>
        </main>
    </div>
</div>