@{
    Layout = "_Layout";
}
<div class="container pr-1">
    <div class="row no-gutters">
        <aside class=" col-4 d-md-flex align-items-stretch mt-5">
            <partial name="_PanelMenu" />
        </aside>
        <main class="col-8">
            <div class="p-4">
                <h5 class="panel-action-title">میز کار</h5>
                <p>آموزش ارسالی با موفقیت ارسال شد و در صف انتشار قرار گرفت. در صورت نیاز از منوی سمت راست می توانید اخرین وضعیت آنرا مشاهده نمایید </p>
                <p>در هر زمان می توانید از گزینه آموزش های من در سمت راست جهت مشاهده یا حذف آموزش های ارسالی اقدام نمایید</p>

            </div>
        </main>
    </div>
</div>