@model UpdateUserPasswordViewModel

@{

    Layout = "_Layout";
}

<div class="container pr-1">
    <div class="row no-gutters">
        <aside class=" col-3 d-md-flex align-items-stretch mt-5">
            <partial name="_PanelMenu" />
        </aside>
        <main class="col-9 pt-2 pl-1">
            <p> جهت ادامه فعالیت در سایت باید رمز عبور جدید انتخاب نمایید</p>


            <div class="text-danger" asp-validation-summary="All"></div>

            <form autocomplete="off" asp-action="ResetPasswordPage" asp-controller="Account" asp-area="Membership" method="post" enctype="multipart/form-data">
                <input autocomplete="false" name="hidden" type="text" class="d-none">

                <input type="hidden" asp-for="ReturnUrl" />
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <span asp-validation-for="NewPassword" class="validation-error-message"></span>
                    <input autocomplete="new-password" asp-for="NewPassword" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <span asp-validation-for="ConfirmPassword" class="validation-error-message"></span>
                    <input autocomplete="new-password" asp-for="ConfirmPassword" class="form-control" />
                </div>

                <button type="submit" class="btn btn-primary">ذخیره</button>
            </form>
        </main>
    </div>
</div>

@section ViewScript  {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/PasswordPage.js"></script>

}

<script>
    $("#dntCaptchaRefreshButton").click();
</script>