@{
    //ViewBag.Title = "ثبت نام";
    Layout = "_Layout";
}

@{

    Layout = "_Layout";
   
}

<div class="container pr-1">
    <div class="row no-gutters">
        <aside class=" col-3 d-md-flex align-items-stretch mt-5">
            <partial name="_PanelMenu" />
        </aside>
        <main class="col-9 mt-5 pr-2">
            <p> رمز عبور شما با موفقیت تغییر یافت</p>
           
            @{

                string returnUrl = (ViewBag.ReturnUrl != null) ? ViewBag.ReturnUrl : "/";
            }
            <a href="@returnUrl" class="btn-pink pr-1 pl-1"> ادامه</a>
        </main>
    </div>
</div>

