@model IEnumerable<PostComment>
@inject IHashId hashId;
@{

    Layout = "_Layout";
}
<div class="row no-gutters">
    <aside class=" col-3 d-md-flex align-items-stretch mt-5">
        <partial name="_PanelMenu" />
    </aside>
    <main class="col-9">

        <form asp-action="Delete" asp-controller="Post" style="width:100%">
        </form>

        <div class="d-flex justify-content-center w-100">
            <table class="table table-striped table-bordered text-center w-100">
                <thead>
                    <tr>

                        <th>متن </th>
                        <th>کاربر</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var comment in Model)
                    {

                        <tr class="CommentRow">

                            <td>@comment.Text</td>
                            <td>
                                @if (comment.User != null)
                                {
                                    @comment.User.NickName
                                }
                            </td>


                            <td>
                                <a data-id=@comment.Id class="btn btn-primary btn-sm" onclick="approveComment(this)" title="تایید">
                                    <i class="fas fa-check"></i>
                                </a>
                                <a data-id=@comment.Id onclick="rejectComment(this)" class="btn btn-danger btn-sm text-white" title="رد">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>

</div>


@section ViewScript{
    <script src="~/js/navbar.min.js"></script>
    <script src="~/js/JavaScript.min.js"></script>
    <script src="~/js/Managment.min.js"></script>
}
