label {
    color: rgb(128, 128, 128);
}

.full-stretched {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.full-stretched-below-header {
    position: absolute;
    top: 66px;
    bottom: 0;
    right: 0;
    left: 0;
}

.logo-shadow {
    margin: 0 auto 4rem auto;
}

    .logo-shadow img {
        height: 2rem;
        filter: contrast(0);
        opacity: .8;
    }

.card-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    
}

.validation-error-message {
    display: block;
    color: #dc3545;
    font-size: .75rem;
    margin-bottom: .2rem;
}

.input-validation-error {
    border-color: #dc3545;
}

aside {
    position: sticky;
    height: calc(100vh - 66px);
}

.panel-menu {
    width: 100%;
    border-left: 1px solid #DEE2E7;
}

    .panel-menu .panel-description a {
        display: block;
        text-decoration: none;
      /*  padding: 2rem 4rem 2rem 1rem;*/
        color: rgb(128,128,128);
        font-size: 1.3rem;
    }

        .panel-menu .panel-description a.active {
            color: #ea1d5d;
        }

        .panel-menu .panel-description a i {
            vertical-align: middle;
            margin-left: .5rem;
        }

    .panel-menu ul {
        list-style: none;
        padding-right:0;
    }

        .panel-menu ul li {
            border-bottom: 1px solid #DEE2E7;
        }

            .panel-menu ul li:first-child {
                border-top: 1px solid #DEE2E7;
            }

            .panel-menu ul li a {
                display: block;
                padding: .85rem 0rem .85rem .6rem;
                text-decoration: none;
                color: rgb(128,128,128);
                position: relative;
            }

                .panel-menu ul li a:hover, .panel-menu ul li a.active {
                    color: #ea1d5d;
                }

                .panel-menu ul li a i {
                    margin-left: .3rem;
                    vertical-align: middle;
                }

                .panel-menu ul li a.active::before {
                    display: inline-block;
                    width: 3px;
                    height: 48px;
                    background-color: #ea1d5d;
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0px;
                }

                .panel-menu ul li a.active::after {
                    display: inline-block;
                    width: 2px;
                    height: 48px;
                    background-color: #fff;
                    content: "";
                    position: absolute;
                    left: -1px;
                    top: 0px;
                }


.panel-action-title {
    color: rgb(128, 128, 128);
 /*   padding-right: .5rem;*/
    padding-bottom: 1rem;
    border-bottom: 2px solid #DEE2E7;
    margin-bottom: .5rem;
    padding-right:0.5rem;
}
