.featured {
    padding-bottom: 2rem;
    border-bottom: 1px solid #d4dade;
}

    .featured h2 {
        color: #323233;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

.btn-more-videos, .btn-less-videos {
    font-size: .9rem;
    color: #ea1d5d;
}

    .btn-more-videos:hover, .btn-less-videos:hover {
        text-decoration: none;
        color: #c21249;
    }

    .btn-more-videos i, .btn-less-videos i {
        vertical-align: middle;
        
    }
