body {
    font-family: 'Yekan', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.3rem;
    direction: rtl;
    text-align: right;
}

header {
   
}

::-webkit-input-placeholder {
    color: #ccc;
    font-size: .75rem;
}

:-ms-input-placeholder {
    color: #ccc;
    font-size: .75rem;
}

:-moz-placeholder {
    color: #ccc;
    font-size: .75rem;
}

::-moz-placeholder {
    color: #ccc;
    font-size: .75rem;
}

.logo, .category {
    display: flex;
}

.logo {
    width: 4rem;
}

    .logo img {
        
        width: 100%;
        height: 100%;
    }

.category, .category:hover, .category:visited {
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
}

    .category i {
        vertical-align: middle;
    }

    .category:after {
        display: none;
    }

.search-container {
    width: 50%;
   
}

.search {
  
}

.has-suggestions {
    height: 100%;
    overflow: hidden;
}

.search input {
    border: 2px solid #C6C6C6;
    box-sizing: border-box;
    border-radius: 24px;
    font-size: small;
    padding-left: 2rem;
    z-index: 5;
}

.search-submit {
    position: absolute;
    top: .6rem;
    left: .6rem;
    color: #95a1ad;
    transition: color 300ms ease-in-out;
    -webkit-transition: color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
    z-index: 5;
}

    .search-submit:hover {
        color: #ea1d5d;
    }

.search-suggest {
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    z-index: 4;
    box-shadow: 0 -10px 30px -5px #484b62;
    border: 1px solid #ced4da;
    /*border-top-color: rgb(206, 212, 218);
    border-top-style: solid;
    border-top-width: 1px;*/
    border-top: 0;
    padding: 1rem;
    visibility: hidden;
}

.search-content {
    width: 100%;
    height: 100%;
}

.search-result {
    max-height: 60vh;
    overflow: hidden;
}

.search-overlay {
    position: fixed;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(41,42,51,.6);
    z-index: 3;
    visibility: hidden;
}

    .search-overlay .visible, .search-suggest .visible {
        visibility: visible !important;
    }


.upload-video {
    margin-left: .5rem;
    margin-top: .1rem;
}

    .upload-video i {
        margin-left: .05rem;
        vertical-align: middle;
    }

.upload-video-text {
    font-size: .75rem;
}

.signin-button a, .signin-button a:hover, .signin-button a:visited {
    font-size: .85rem;
    color: #ea1d5d;
    text-decoration: none;
}

.signin-button i {
    margin-left: .5rem;
    vertical-align: middle;
}

.logo-footer {
    display: inline-block;
    width: 5rem;
    height: 1.5rem;
    background-image: url("../images/mami-logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-footer-hover {
    display: inline-block;
    position: absolute;
    right: 0;
    opacity: 0;
    width: 5rem;
    height: 1.5rem;
    background-image: url("../images/mami-logo-hover.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
}

    .logo-footer-hover:hover {
        opacity: 1;
    }

.btn-red {
    background-color: red;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .btn-red:hover {
        background-color: white;
        color: red;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

.btn-red-text {
    margin-right: .5rem;
    font-size: .85rem;
}
.btn-pink {
    background-color: #fff;
    color: #ea1d5d;
    border: 1px solid #e5e5e5;
}

    .btn-pink:hover {
        background-color: #ea1d5d;
        color: #fff;
        border: 1px solid #ea1d5d;
    }

.btn-pink-text {
    margin-right: .5rem;
    font-size: .85rem;
}




.extra-links h5 {
    color: #5c5c5e;
    margin-right: 2.3rem;
    font-size: medium;
    margin-bottom: 1rem;
}

.extra-links ul {
    column-count: 2;
}

    .extra-links ul li {
        margin-bottom: .5rem;
    }

    .extra-links ul a, .extra-links ul a:visited {
        color: #6c757d;
        text-decoration: none;
        font-size: .85rem;
        transition: color .4s ease-in-out;
        -webkit-transition: color .4s ease-in-out;
        -moz-transition: color .4s ease-in-out;
        -o-transition: color .4s ease-in-out;
    }

        .extra-links ul a:hover {
            color: #ea1d5d;
        }

.other-service-title {
    color: #5c5c5e;
    font-size: medium;
    margin-bottom: 1rem;
}

.logo-main {
    display: inline-flex;
    width: 2.5rem;
}

.logo-text {
    display: flex;
    width: 3.5rem;
}

    .logo-main img, .logo-text img {
        width: 100%;
      
    }

.app-icon {
    font-size: xx-large;
    border-left: 1px solid rgba(0, 0, 0, .2);
}

.app-text {
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer-bottom {
    background-color: #fbfbfb;
}

.social-media, .social-media:visited {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    color: #8d8d8d;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    text-decoration: none;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

    .social-media:hover {
        text-decoration: none;
    }

.telegram:hover {
    color: #0088CC;
    border-color: #0088CC;
}

.facebook:hover {
    color: #3C5A99;
    border-color: #3C5A99;
}

.instagram:hover {
    color: #e95950;
    border-color: #e95950;
}

.twitter:hover {
    color: #38A1F3;
    border-color: #38A1F3;
}

.social-media i {
    font-size: 1.3rem;
}

.copyright {
    line-height: 1.6rem;
    margin-right: .40rem;
    font-size: .7rem;
}





.category-list {
    top: 180%;
    min-width: 18.85rem;
    border-radius: 0;
    padding: 0;
}

    .category-list a {
        padding: .85rem 0;
    }

        .category-list a:hover {
            background-color: #f0f0f0;
        }

    .category-list i {
        font-size: 1.3rem;
    }

.promoted div, .regular, .prominent div {
    border-bottom: 1px solid #f0f0f0;
}

.prominent:last-child {
    border-bottom: 3px solid #ed145b;
}
.post-card {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.55);
    border-radius: 6px;
  
}
.slidbar-row {
   
}
.layout-header {
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.25);
}

.btn-selectedposts {
    font-size: 1.4vw;
    font-style: normal;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: .2rem;
}
.mynavtabitem{
    font-size:4vw;
}
.indexcategoryimage {
    width: 100%;
}
.mypagination {
    font-size:3vw;
}
.page-link{
    color:deeppink;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: deeppink;
    border-color: deeppink;
}
.mytable-td {
    font-size: 2.5vw;
}
 h1{
     font-size: 1.3rem;
 }
@media (min-width: 48em) {
    .btn-selectedposts {
        font-size: 1.2vw;
        padding-left:3rem;
        padding-right:3rem;
        padding-top:1rem;
        padding-bottom:1rem;
    }
    .mynavtabitem{
        font-size:1.5vw;
    }
    .indexcategoryimage {
        width: 60%;
    }
    .mypagination {
        font-size: 1.2vw;
    }
    .mytable-td {
        font-size: 1.2vw;
    }
    .mycard-title {
        font-size: 3rem;
     
    }    
}

    .btn-selectedposts:hover {
        border-width: 3px;
        border-color: crimson;
    }

.register-btn {
    color: white;
    background-color: #ea1d5d;
}


.mycard-title {
    font-size: 1.5rem;
    color: #ea1d5d;
}

.lighter-font{
    font-size:.8rem;
}

.home-comment-card-item {
    color: #333132;
    cursor: pointer;
    display: block;
    font-size: .875rem;
    text-decoration:none;
}
.home-comment-user-card-item {
    color:deeppink;
    cursor: pointer;
    display: block;
    font-size: .75rem;
    text-decoration: none;
}
.home-time-card-item {
    color:darkgrey;
    cursor: pointer;
    display: block;
    font-size: .75rem;
    text-decoration: none;
}
.home-page-form {
    background:  -webkit-linear-gradient(right,#fd931e,#e83972);
    border-radius: 8px;
    padding-top: 2rem;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.dropzone {
    border: 2px dashed #0087F7!important;
    border-radius: 5px!important;
    background: white!important;

}
.di-socialbtn {
    bottom: 40px;
    left: 20px;
    position: fixed;
    z-index: 10;
}

    .di-socialbtn a {
        display: block;
        text-align: center;
        text-decoration: none;
    }
    .di-socialbtn span {
        background-color: #ea1d5d;
    }
    .di-socialbtn span {
        font-size: 40px;
        line-height: 55px;
        width: 55px;
        height: 55px;
        display: block;
        opacity: .8;
        color: #fff;
       
        border-radius: 10%;
        transition: 1s;
    }
.di-socialbtn2 {
    bottom: 40px;
    left: 80px;
    position: fixed;
    z-index: 10;
}

    .di-socialbtn2 a {
        display: block;
        text-align: center;
        text-decoration: none;
    }

    .di-socialbtn2 span {
        background-color: #ea1d5d;
    }

    .di-socialbtn2 span {
        font-size: 40px;
        line-height: 55px;
        width: 55px;
        height: 55px;
        display: block;
        opacity: .8;
        color: #fff;
        border-radius: 10%;
        transition: 1s;
    }
.Category-productcount {
    position: absolute;
    bottom: 4%;
    left: 4%;
    padding-left: .3rem;
    color: #bb0000;
    font-size: .8rem;
}
