.slider-container {
    position: relative;
    padding-top: 0rem;
    padding-bottom:.1rem;
    border-bottom: 1px solid #d4dade;
}

    .slider-container:last-child {
        border-bottom: none;
    }

    .slider-container h2 {
        margin-bottom: .5rem;
    }

        .slider-container h2 a {
            text-decoration: none;
            color: #323233;
            font-size: 1.2rem;
        }

            .slider-container h2 a:hover, .slider-container h2 a:visited {
                text-decoration: none;
            }

    .slider-container > .btn {
        position: absolute;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
        outline: 0;
        z-index: 1;
    }

        .slider-container > .btn:hover {
            box-shadow: none;
        }

        .slider-container > .btn.next {
            left: 0;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .slider-container > .btn.prev {
            right: 0;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }


.video-thumbnail-container {
    width: 100%;
    background-image: url(../images/mami_loading.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 1px solid #ccc;
    margin-bottom: .6rem;
    
}

.video-thumbnail, .video-thumbnail:visited {
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 2px #000;
    font-size: 1rem;
    text-align: right;
}

    .video-thumbnail:hover {
        display: block;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 2px #000;
        font-size: 1rem;
    }

.video-ratio {
    display: block;
    padding-top: 100% !important;
}

.video-title, .video-title:visited {
    display: block;
    font-size: small;
    text-decoration: none;
    color: #4c4c4c;
    max-height: 2.9rem;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    position: relative;
    line-height: 1.5rem;
    min-height:47px;
}

    .video-title:hover {
        text-decoration: none;
        color: #ea1d5d;
    }

    .video-title::before {
        content: "...";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .video-title::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #fff;
        z-index: 2;
    }

.video-likes {
    position: absolute;
    bottom: 4%;
    left: 4%;
    font-size: 1.1rem;
}

.video-veiws {
    position: absolute;
    bottom: 4%;
    align-self: flex-end;
    font-size: 1.1rem;
    padding-right: 0.5rem;
}

.video-user {
    position: absolute;
    bottom: 4%;
    align-self: flex-end;
    font-size: .6rem;
    padding-right: 0.5rem;
}

.video-category, .video-category:hover, .video-category:visited {
    text-decoration: none;
    color: #999;
    font-size: .6rem;
}

    .video-category:hover {
        color: #444;
    }

.video-category-info i {
    color: #ea1d5d;
    vertical-align: middle;
    margin-left: .5rem;
}

