.searchpage {
}

.searchpage input {
    border-radius: 0;
    font-size: medium;
    padding-left: 2rem;
    z-index: 5;
}

.searchpage-submit {
    position: absolute;
    top: .6rem;
    left: .6rem;
    color: #95a1ad;
    transition: color 300ms ease-in-out;
    -webkit-transition: color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
    z-index: 5;
}

    .searchpage-submit:hover {
        color: #ea1d5d;
    }
.searchpage-container {
    width: 80%;
}