@model PostSwiperTitleViewModel
@inject IHashId HashId;


    <div class="container-fluid mt-2 pr-1 col-12">
        @if (Model.Title == "ویدیو های آموزشی")
        {
        <a class="text-decoration-none" asp-area="" asp-action="index" asp-controller="customizedtype" asp-route-hashId=@HashId.Encode(System.Convert.ToInt32(Model.Id))  asp-route-page=1>
            <div class="row flex-nowrap text-decoration-none" style="color:black">
                <h4>@Model.Title</h4>
                <div class="btn btn-sm rounded-pill text-center mr-1" style="background-color: #CC3467;">
                    <span class=" text-white text-center pt-0 ">
                        مشاهده همه
                    </span>
                </div>
            </div>
        </a>
        }
        else
        { <a class="text-decoration-none" asp-area="" asp-action="index" asp-controller="category" asp-route-CategoryHashId=@HashId.Encode(System.Convert.ToInt32(Model.Id))  asp-route-page=1 asp-route-pagetype="category" asp-route-SortOrder="Created-desc" >
            <div class="row flex-nowrap text-decoration-none" style="color:black">
                <h4>@Model.Title</h4>
                <div class="btn btn-sm rounded-pill text-center mr-1" style="background-color: #CC3467;">
                    <span class=" text-white text-center pt-0 ">
                        مشاهده همه
                    </span>
                </div>
            </div>
           </a>
        }
    </div>



