

@model PostRepositoryViewModel;
@inject IHashId HashId;
<div class="container-fluid homepage" style="position:relative;">
    <div class="row mt-3 mr-2">
        <div class="col-12 d-md-none" >
            <p>
                <h1>
                    معرفی و تاریخچه
                </h1>

            </p>
            <p class="text-justify"  style="line-height:150%;font-size:small;">

                من سمیه آقاجانی ، فارغ التحصیل رشته مهندسی کامپیوتر دانشگاه شهید بهشتی و موسس سایت مامی دست سازه هستم. بعد از فارغ التحصیلی در سال 85، به مدت 9 سال به عنوان برنامه نویس و سپس سرپرست بخش نرم افزار چند شرکت خصوصی و دولتی مشغول به کار بودم و بعد از تولد اولین فرزندم تصمیم به راه اندازی کسب و کار شخصی خود گرفتم.
            </p>
        </div>
        
        <div class="col-12 col-md-3 justify-content-center text-center">
            <img src="~/images/mamipic.jpg" class="w-100 pl-5 pr-5 p-md-0"  alt="سمیه آقاجانی" style="border-radius:10px;"/>
            

        </div>
        <div class="col-12 col-md-9 mb-3">
            <div class="d-none d-md-block">
                <p>
                    <h1>
                        معرفی و تاریخچه
                    </h1>

                </p>
                <p class="text-justify"  style="line-height:150%;font-size:small;">
                    من سمیه آقاجانی ، فارغ التحصیل رشته مهندسی کامپیوتر دانشگاه شهید بهشتی و موسس سایت مامی دست سازه هستم. بعد از فارغ التحصیلی در سال 85، به مدت 9 سال به عنوان برنامه نویس و سپس سرپرست بخش نرم افزار چند شرکت خصوصی و دولتی مشغول به کار بودم و بعد از تولد اولین فرزندم تصمیم به راه اندازی کسب و کار شخصی خود گرفتم.
                </p>
            </div>
            <p class="text-justify" style="line-height:150%;font-size:small;">

                هدف اولیه من ایجاد فضایی برای ارایه انواع آموزش های هنری خانم های خانه دار ایرانی بود لذا در سال 94 ، علاوه بر نسخه ابتدایی وب سایت، پیج اینستاگرام مامی دستسازه را راه اندازی کرده و به جرات میتوانم بگویم مامی دستسازه اولین شبکه مجازی هنری بود که به صورت مجتمع و یکپارچه فقط در حوزه مادر و کودک انواع آموزشهای هنری ساده و کاربردی خانگی را جمع آوری کرده و خانم های ایرانی را به حوزه های مختلف هنرهای خانگی علاقه مند کرد.
                <br />
                از سال 94 تا سال 99 به صورت مداوم مامی در سایت و پیج اینستاگرام مامی دستسازه فعال بوده و تلاش نمودم در کنار آموزشهای هنری، به بانوان ایرانی انگیزه داده و آنها را به راه اندازی کسب و کار شخصی خانگی ترغیب نمایم. بطوریکه در کنار لذت بردن از کارهای هنری، از هزینه های خانواده نیز کم کنند و با کسب درآمد به اقتصاد خانواده کمک نمایند.
                <br />
                و در حال حاضر خود را یک بلاگر هنری و انگیزشی میدانم که سعی در افزایش آگاهی بانوان ایرانی در مسیر توسعه های شخصی و همچنین ایجاد انگیزه جهت راه اندازی کسب و کار خانگی دارم.

            </p>
            <p class="pt-2">
                <h1>سایت مامی دستسازه چه میکند؟</h1>
            </p>
            <p class="text-justify pt-1"  style="line-height:150%;font-size:small;">
                ما برآن هستیم که جامعه ای از زنان ایرانی توانمند در همه حوزه های هنری و خانگی را گرد هم آورده تا براحتی هنر خود را به اشتراک گذارند و از دانش سایر هنرمندان به رایگان استفاده کنند.
                <br />
                همچنین صاحبان مشاغل خانگی، فروشگاه های هنری، هنرمندان میتوانند محصولات و خدمات و دوره های آموزشی خود را در سایت مامی معرفی کرده و بازاری برای فروش محصولات و خدمات خود پیدا کنند.
                <br />
                آموزش راه اندازی کسب و کار خانگی، آموزش بلاگری ، مقالات توسعه فردی و انگیزشی زنانه، معرفی کتاب ها و پادکست های جذاب، طرح سوال های هنری، پرسش و پاسخ ها ، دانلودهای رایگان هنری و ارائه مجموعه ای از پادکست و مصاحبه های با زنان موفق کارآفرین از دیگر امکانات سایت می باشد.

            </p>
            <p class="pt-2"><h1>چشم انداز مامی دستسازه</h1></p>
            <p class="text-justify pt-1"  style="line-height:150%;font-size:small;">

                مامی دستسازه میخواهد با جذب بانوان هنرمند به اصلی ترین مرجع آموزش هنری و بزرگترین شبکه مجازی هنرمندان تبدیل شود.که در کنار آموزش، مکانی برای فروش و داد و ستد محصولات هنری و خانگی و دستساز خود  نیز بیابند.

            </p>
            <p class="pt-2"><h1>شعار مامی دستسازه</h1></p>
            <p class="text-justify pt-1"  style="line-height:150%;font-size:small;">

                هنرمندانه یاد بگیر
                <br />
                خلاقانه خودت بساز
                <br />
                اقتصادی از هزینه ها کم کن
                <br />
                با موفقیت بفروش
                <br />
                حرفه ای کسب درآمد کن


            </p>

        </div>
        
    </div>

</div>
   
   
    @section ViewStyleSheet {

        <link rel="stylesheet" href="~/css/Featured.min.css" />
    }

    @section ViewScript{
        <script src="~/js/VideoSlider.min.js"></script>
        <script src="~/js/JavaScript.min.js"></script>
        <script src="~/js/Featured.min.js"></script>

    }


