

@model PostRepositoryViewModel;
@inject IHashId HashId;
<div class="container-fluid homepage" style="position:relative;">
    <div class="row mt-3 mr-2">
        <div class="col-12">
            <p class="col-12 bold" >
                تبلیغات
            </p>

            <p style="line-height: 200%;">
                سلام و سپاس از انتخاب شما😊
                تبلیغ در اینستاگرام مامی دستسازه با ۶۹۰ هزار فالور👇
                <br />
              
                <a href="https://instagram.com/mami_admin">instagram: mamibussiness</a>

            </p>

        </div>
        
    </div>

</div>
   
   
    @section ViewStyleSheet {

        <link rel="stylesheet" href="~/css/Featured.min.css" />
    }

    @section ViewScript{
        <script src="~/js/VideoSlider.min.js"></script>
        <script src="~/js/JavaScript.min.js"></script>
        <script src="~/js/Featured.min.js"></script>

    }


