

@model PostRepositoryViewModel;
@inject IHashId HashId;
<div class="container-fluid homepage" style="position:relative;">
    <div class="row mt-3 mr-2">
        <div class="col-12 text-center">
            <p>
                <h1>
                    دوره های مامی بیزنیس ویژه علاقه مندان کسب و کار آنلاین
                </h1>
            <p>
                در حال حاضر 2 دوره جامع و اینشات و کنوا جهت علاقه مندان برگزار شده و قابل ارائه می باشد
            </p>

        </div>
        <div class="d-none d-md-block col-md-4"></div>
        <div class="col-12 col-md-4 text-center">
            <img class="w-75 rounded mx-auto d-block" src="~/images/mamitrainings.jpg" />
        </div>
        <div class="d-none d-md-block col-md-4"></div>
        <div class="col-12">
            <p>
                توی دوره ۱۸تکنیک کاربردی را با ذکر مثال حدود ۶ساعت بهتون یاد میدم
                فیلمها ضبط شده و شما عضو پیج خصوصی میشید
                انگار مشاوره کامل شدین
                از صفر میتونید پیجتون راه اندازی کنید!
                و پیجتون را بررسی و آنالیز میکنم و نظرمو و مشکلاتشو میگم
            </p>
            <p>
                ضمنا دوره‌ نرم افزار اینشات و کنوا هم هست که یاد میگیرید چطور کلیپ و فیلمهای خلاقانه با نرم افزار اینشات و کنوا بسازید
                این هم حدود ۶ساعت اموزشه و عضو پیج دیگری میشید!

                برای اطلاعات تکمیلی میتونید هایلایت دوره جامع و اینشات رو ببینید
            </p>
            <p>
                <a href="https://instagram.com/mamibussiness">جهت خریداری دوره ها با کلیک روی این لینک به mamibussiness در اینستاگرام پیام بدید</a>
            </p>
        </div>

    </div>
   
   
    @section ViewStyleSheet {

        <link rel="stylesheet" href="~/css/Featured.min.css" />
    }

    @section ViewScript{
        <script src="~/js/VideoSlider.min.js"></script>
        <script src="~/js/JavaScript.min.js"></script>
        <script src="~/js/Featured.min.js"></script>

    }


