
@model IEnumerable<PostComment>
@inject IHashId HashId
<!-- main cat-->
<div class="card  shadow mb-2">
    <!-- Menu Level 2 -->
    <div class="mycard-title m-2 border-bottom" style="font-size:1rem;"><i class="far fa-comment ml-2"></i>جدیدترین نظرات</div>
    <div class="mycard-body m-1">
        @foreach (var item in Model)
        {
            <div class="w-100 mb-2">
                @if (!string.IsNullOrEmpty(item.Text))
                {
                    <div class="mb-1 d-flex flex-row">
                        <a class="pr-2 home-comment-card-item d-flex flex-row" asp-action="Index" asp-controller="Post" asp-area="" asp-route-hashId=@HashId.Encode(item.Post.ID)>
                            @item.Text
                        </a>
                    
                    </div>
                    <div class="d-flex flex-row">
                        <a class="home-comment-user-card-item d-flex flex-row" asp-area="" asp-controller="UserPosts" asp-action="Index" asp-route-nickName="@item.User.NickName" asp-route-page="1" asp-route-pageType="UserPosts" asp-route-sortorder="Created-desc">
                            <img class="profile-image" src=@("/ProfileImages/"+( string.IsNullOrEmpty(item.User.ProfileImage)?"default.gif":item.User.ProfileImage)) alt="Profile-Image" />
                            <span class="home-comment-user-card-item ml-2">
                                @(item.User.NickName)
                            </span>
                            <span class="home-time-card-item">
                                <video-created created="@item.CommentDate"></video-created>
                            </span>
                        </a>
                    </div>                 
                }
            </div>
        }
    </div>
</div>
